<template>
    <b-navbar class="is-size-4 has-background-white-ter height" :fixed-top="true" :close-on-click="true">
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <h1 class="header">Knippi</h1>
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/replays' }">
                <span class="icon has-text-success spacing spacing-left">
                    <i class="fas fa-folder"></i>
                </span>
                <span>Replays</span>
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/generate' }">
                <span class="icon has-text-danger spacing">
                    <i class="fas fa-file-export"></i>
                </span>
                <span>Generate</span>
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/queue' }">
                <span class="icon has-text-blue spacing">
                    <i class="fas fa-random"></i>
                </span>
                <span>Queue</span>
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/settings' }">
                <span class="icon has-text-grey spacing">
                    <i class="fas fa-cog"></i>
                </span>
                <span>Settings</span>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
    export default {
        name: "NavBar",
    }
</script>

<style>
body {
    padding-top: 52px;
}

.body {
    padding: 1rem;
}

.spacing {
    padding-right: 1rem;
}

.has-text-blue {
    color: #669BBC;
}
</style>
