<template>
    <section>
        <b-loading :is-full-page="false" :active.sync="isLoading"></b-loading>
        <section v-if="replays !== null">
            <b-button class="pos" @click="playDolphinReplay" :disabled="checkedRows.length === 0">
                <span class="icon extra">
                    <i class="fas fa-play"></i>
                </span>
                Play with Dolphin
            </b-button>
            <b-table
                :data="replays"
                :columns="columns"
                :checked-rows.sync="checkedRows"
                :checkbox-position="checkboxPosition"
                checkable
                hoverable>
            </b-table>
        </section>
    </section>
</template>

<script>
import { invoke, promisified } from 'tauri/api/tauri'

export default {
    name: "Replays",
    data() {
        return {
            replays: null,
            checkboxPosition: 'right',
            checkedRows: [],
            isLoading: true,
            columns: [
                {
                    field: 'characters',
                    label: 'Characters',
                    numeric: false,
                    searchable: true,
                },
                {
                    field: 'stage',
                    label: 'Stage',
                    numeric: false,
                    searchable: true,
                },
                {
                    field: 'date',
                    label: 'Date',
                    numeric: false,
                    searchable: true,
                },
                {
                    field: 'time',
                    label: 'Time',
                    numeric: false,
                    searchable: true,
                },

            ]
        }
    },
    created() {
        promisified({
            cmd: 'getReplays'
        }).then((response) => {
            this.replays = JSON.parse(response)
            this.isLoading = false
            this.$buefy.toast.open('Loaded replays!')
        })
    },
    methods: {
        playDolphinReplay: function () {
            invoke({
                cmd: 'playReplays',
                replays: this.checkedRows
            })
        }
    }
}
</script>

<style>
.pos {
    margin: 1rem 0.75rem;
    margin-bottom: 0;
}

.extra {
    padding-left: 0.75rem;
    padding-right: 1rem;
}
</style>
